/*****************************************
 * Basic styling, scroll down for the
 * SVG stroke animation code
 *****************************************/

body * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-color: #333;
}

.wrapper {
  background: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.title {
  margin: 0 0 1em;
  padding: 0;
  font: normal 1.2em sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.controls {
  margin: 1rem 0 0;
}

button {
  font: bold .875em sans-serif;
  background-color: rgb(240, 240, 240);
  color: #454545;
  padding: .4em .6em .3em;
  border: none;
  text-transform: uppercase;
  border-radius: .4em;
  margin: 0 .5em;
  box-shadow: 0px 2px 10px hsla(0,0%,0%,.3);
}

button:hover {
  background-color: #fff;
}

button:active {
  background-color: hsl(200,30%,90%);
  transform: translateY(2px);
  box-shadow: 0px 0px 2px hsla(0,0%,0%,.3);
}


svg .svg-elem-1 {
  stroke-dashoffset: 106.06495666503906px;
  stroke-dasharray: 106.06495666503906px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
                        fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
                fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(200,200,200);
}

svg .svg-elem-2 {
  stroke-dashoffset: 1463.511474609375px;
  stroke-dasharray: 1463.511474609375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s,
                        fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s,
                fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(200,200,200);
}

svg .svg-elem-3 {
  stroke-dashoffset: 213.37567138671875px;
  stroke-dasharray: 213.37567138671875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.24s,
                        fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.24s,
                fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(200,200,200);
}